<!DOCTYPE html>
<%- include("header.ejs") -%>
  <body>

    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(var i=0; i<allWorks.length; i++) { %>
          <div class="item">
            <input type="checkbox">
            <p><%= allWorks[i] %></p>
          </div>
        <% } %>

        <form action="/" method="post" class="item">
          <input type="text" name="newWork" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
    </div>
  </body>
<%- include("footer.ejs") -%>
